.smh-filter-section {
    padding: 20px;
}

.smg-hr {
    border-color: var(--smg-color-text-primary);
}

.smg-filter-card {
    height: 230px;
    top: 90px;
    left: 120px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    background-color: var(--smg-color-bg-tertiary);
    padding: 20px;
}

.smg-filter-ipt {
    padding: 7px;
}

.smg-filter-btn {
    padding: 7px;
}